In [214]:
import pandas as pd
df = pd.read_csv ("movie_spoiler_sample.csv")
df

C:\Users\evich\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (26,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,307) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,movie_id,plot_summary,duration,genre,rating_x,release_date,plot_synopsis,review_date,user_id,is_spoiler,...,Unnamed: 298,Unnamed: 299,Unnamed: 300,Unnamed: 301,Unnamed: 302,Unnamed: 303,Unnamed: 304,Unnamed: 305,Unnamed: 306,Unnamed: 307
0,tt0318649,Master explorer and former US Navy Seal Dirk P...,2h 4min,"['Action', 'Adventure', 'Comedy']",6,08/04/2005,The film begins with a prologue set in Richmon...,27-May-05,ur3270789,FALSE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0803096,When the world of the Orcs of Draenor is being...,2h 3min,"['Action', 'Adventure', 'Fantasy']",6.9,10/06/2016,"For ages in the region of Middle Earth, humans...",20-Jun-16,ur47788388,TRUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0425112,"Top London cop, PC Nicholas Angel is good. Too...",2h 1min,"['Action', 'Comedy']",7.9,20/04/2007,Nicholas Angel (Simon Pegg) is undoubtedly Lon...,11-Jun-07,ur14440242,TRUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0327056,In the summer of 1975 in a neighborhood in Bos...,2h 18min,"['Crime', 'Drama', 'Mystery']",8,15/10/2003,"Three young boys, all the best of friends, are...",05-Nov-15,ur63623011,FALSE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0259711,"Incarcerated and charged with murder, David Aa...",2h 16min,"['Fantasy', 'Mystery', 'Romance']",6.9,14/12/2001,"David Aames (Tom Cruise) drives to work, he fi...",12-Aug-16,ur2781970,FALSE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77877,tt0829482,"Seth and Evan are best friends, inseparable, n...",1h 53min,['Comedy'],7.6,17/08/2007,Seth (Jonah Hill) and Evan (Michael Cera) are ...,18-Feb-12,ur31632708,FALSE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77878,tt0101272,The Addams step out of Charles Addams' cartoon...,1h 39min,"['Comedy', 'Fantasy']",6.8,22/11/1991,Gomez Addams (Raúl Juliá) laments the 25-year ...,18-Aug-07,ur13887584,TRUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77879,tt0338751,"Biopic of billionaire Howard Hughes, starting ...",2h 50min,"['Biography', 'Drama', 'History']",7.5,25/12/2004,The Aviator has no opening credits other than ...,27-Jan-05,ur0180277,FALSE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77880,tt0367594,When Willy Wonka decides to let five children ...,1h 55min,"['Adventure', 'Comedy', 'Family']",6.7,15/07/2005,Willy Wonka (Johnny Depp) has built the greate...,31-Aug-10,ur2532491,TRUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77881,tt1872181,We've always known that Spider-Man's most impo...,2h 22min,"['Action', 'Adventure', 'Sci-Fi']",6.7,02/05/2014,The movie opens with a close-up on fingers fur...,17-Apr-14,ur22062081,TRUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
df = df.iloc[:, :13]  # Keep only the first 13 columns

In [216]:
#Genre column - identify and remove erroneous values, split and perform encoding
print(df["genre"].value_counts())

['Action', 'Adventure', 'Sci-Fi']     5506
['Action', 'Adventure', 'Fantasy']    3067
['Crime', 'Drama']                    2436
['Drama']                             2172
['Drama', 'Romance']                  2014
                                      ...
ur2879151                                1
ur0558555                                1
ur39517558                               1
ur2609601                                1
ur53973309                               1
Name: genre, Length: 414, dtype: int64

In [217]:
# Drop rows where 'genre' does NOT start with '['  - ie any invalid values
df = df[df['genre'].str.startswith("[", na=False)]

# split the genres and remove the "[" "]" characters
df["genre"]=df["genre"].str.split(",")

df_exploded = df.explode('genre')
df_exploded['genre'] = df_exploded['genre'].str.replace("[\[\]]", "", regex=True)

# Apply one-hot encoding using get_dummies
df_encoded = pd.get_dummies(df_exploded['genre'])

# merge with the original dataframe
df_final = df.merge(df_encoded.groupby(df_exploded.index).sum(), left_index= True, right_index = True)

#  Drop the original 'genre' column if it's no longer needed
df_final = df_final.drop(columns=['genre'])
df =df_final
df

,movie_id,plot_summary,duration,rating_x,release_date,plot_synopsis,review_date,user_id,is_spoiler,review_text,...,'Crime','Drama','Family','Fantasy','Film-Noir','Horror','Mystery','Romance','Sci-Fi','Western'
0,tt0318649,Master explorer and former US Navy Seal Dirk P...,2h 4min,6,08/04/2005,The film begins with a prologue set in Richmon...,27-May-05,ur3270789,FALSE,The film starts in the Richmond battle (1865) ...,...,0,0,0,0,0,0,0,0,0,0
1,tt0803096,When the world of the Orcs of Draenor is being...,2h 3min,6.9,10/06/2016,"For ages in the region of Middle Earth, humans...",20-Jun-16,ur47788388,TRUE,I saw the movie with six friends and we all lo...,...,0,0,0,0,0,0,0,0,0,0
2,tt0425112,"Top London cop, PC Nicholas Angel is good. Too...",2h 1min,7.9,20/04/2007,Nicholas Angel (Simon Pegg) is undoubtedly Lon...,11-Jun-07,ur14440242,TRUE,"I enjoyed this movie very much, but it being l...",...,0,0,0,0,0,0,0,0,0,0
3,tt0327056,In the summer of 1975 in a neighborhood in Bos...,2h 18min,8,15/10/2003,"Three young boys, all the best of friends, are...",05-Nov-15,ur63623011,FALSE,What you get here is no more than Clint eastwo...,...,1,0,0,0,0,0,0,0,0,0
4,tt0259711,"Incarcerated and charged with murder, David Aa...",2h 16min,6.9,14/12/2001,"David Aames (Tom Cruise) drives to work, he fi...",12-Aug-16,ur2781970,FALSE,"I think the first time I saw this movie, I did...",...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77877,tt0829482,"Seth and Evan are best friends, inseparable, n...",1h 53min,7.6,17/08/2007,Seth (Jonah Hill) and Evan (Michael Cera) are ...,18-Feb-12,ur31632708,FALSE,I had a very unpleasant experience watching Su...,...,0,0,0,0,0,0,0,0,0,0
77878,tt0101272,The Addams step out of Charles Addams' cartoon...,1h 39min,6.8,22/11/1991,Gomez Addams (Raúl Juliá) laments the 25-year ...,18-Aug-07,ur13887584,TRUE,"""The Addams Family"", while being entertaining,...",...,0,0,0,0,0,0,0,0,0,0
77879,tt0338751,"Biopic of billionaire Howard Hughes, starting ...",2h 50min,7.5,25/12/2004,The Aviator has no opening credits other than ...,27-Jan-05,ur0180277,FALSE,The story was interesting and the cinematograp...,...,0,0,0,0,0,0,0,0,0,0
77880,tt0367594,When Willy Wonka decides to let five children ...,1h 55min,6.7,15/07/2005,Willy Wonka (Johnny Depp) has built the greate...,31-Aug-10,ur2532491,TRUE,"To my way of thinking, if you're going to rema...",...,0,0,0,0,0,0,0,0,0,0
77881,tt1872181,We've always known that Spider-Man's most impo...,2h 22min,6.7,02/05/2014,The movie opens with a close-up on fingers fur...,17-Apr-14,ur22062081,TRUE,The Amazing Spider Man (the questionable reboo...,...,0,0,0,0,0,0,0,0,0,0

In [218]:
#check for NAs in target variable
df[df["is_spoiler"].isna()]
#drop these rows since they do not help train the model
df = df.dropna(subset=['is_spoiler'])

#now check if there are any other NAs
df[df.isna().any(axis=1)]
# there are no more missing values left

Empty DataFrame
Columns: [movie_id, plot_summary, duration, rating_x, release_date, plot_synopsis, review_date, user_id, is_spoiler, review_text, rating_y, review_summary,  'Action',  'Adventure',  'Biography',  'Comedy',  'Crime',  'Drama',  'Family',  'Fantasy',  'Film-Noir',  'History',  'Horror',  'Music',  'Musical',  'Mystery',  'Romance',  'Sci-Fi',  'Sport',  'Thriller',  'War',  'Western', 'Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Horror', 'Mystery', 'Romance', 'Sci-Fi', 'Western']
Index: []

[0 rows x 47 columns]

In [219]:
#check if the  target variable is balanced
df["is_spoiler"].value_counts()
#target variable is balanced

FALSE    34963
TRUE     34275
Name: is_spoiler, dtype: int64